<center> <h1> Python Basics </h1> </center>

![Python Image](https://media.giphy.com/media/2lbhL8dSGMh8I/giphy.gif)

`print()` outputs the values

In [3]:
# This is a comment
# This line will not be executed.

print("Hello Students")

Hello Students

In [4]:
# You can print multiple objects seperated by comma
print("Python", "Data Science", 100)

Python Data Science 100

### Variables
- a placeholder for storing values/data


### Identifiers
Identifier is the name given to entities like class, functions, variables etc.

Rules for Writing Identifiers:

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. e.g 1variable is invalid, but variable1 is perfectly fine.

3. Inbuilt Keywords cannot be used as identifiers.


=> All the variables have data types. Use `type(var)` to check the datatype

In [7]:
# creating a variable
i = 80

In [8]:
print(i)

80

In [9]:
1abc = 89

SyntaxError: invalid syntax (<ipython-input-9-3ca083e2c289>, line 1)

In [10]:
abc1 = 89

In [11]:
print(abc1)

89

In [12]:
# finds data type of a variable
type(i)

int

**location of a variable**

In [13]:
id(i)

4512400192

<img src="./images/datatype.png" width=500>

- Python is dynamic typed Language
- same variables can take values of different data-types.

In [14]:
print(i)

80

In [15]:
i = "Coding Minutes"

In [16]:
print(i)

Coding Minutes

In [17]:
type(i)

str

In [18]:
id(i)

4553025840

<img src="./images/str_datatype.png" width=700>

### Basic Datatypes

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

- int
- float
- string
- Boolean
- None

#### Numbers
    - integers
    - floating point numbers
    - complex numbers

In [20]:
my_num = 55

print(my_num)
print( type(my_num) )

55
<class 'int'>

In [21]:
my_f = 98.7

print(my_f)
print( type(my_f) )

98.7
<class 'float'>

In [22]:
my_c = 4 + 3j

print(my_c)
print( type(my_c) )

(4+3j)
<class 'complex'>

In [23]:
my_str = "Python is fun."

print(my_str)
print( type(my_str) )

Python is fun.
<class 'str'>

In [24]:
my_bool = False   # or False

print(my_bool)
print( type(my_bool) )

False
<class 'bool'>

In [25]:
my_none = None

print(my_none)
print( type(my_none) )

None
<class 'NoneType'>

# Input 
`input()` : always returns a str value

In [26]:
name = input("Enter your name : ")

Enter your name : Mohit

In [29]:
print( name )

print( type(name) )

Mohit
<class 'str'>

#### Type Casting
    - converts one datatype to another

In [30]:
num = "8"

print(num)
print( type(num) )

8
<class 'str'>

In [31]:
num = int(num)

print(num)
print( type(num) )

8
<class 'int'>

In [32]:
float(num)

8.0

In [33]:
age = int( input("Enter your age : ") )

Enter your age : 24

In [34]:
print(age)

print( type(age) )

24
<class 'int'>

## Python Statments

Instructions that a Python interpreter can execute are called statements.

In [36]:
# single line statement
num = 5

### Multi-Line Statement

In [37]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8

In [38]:
print(a)

36

In [39]:
a = (1 + 2 +3 +
    4 + 5 + 6 +
    7 + 8 )

In [40]:
print(a)

36

## Output Formatting

In [43]:
a = 10
b = 20

print( "The value of a is {} and b is {}".format(a, b) ) # default

The value of a is 10 and b is 20

In [45]:
a = 10
b = 20

print( "The value of a is {1} and b is {0}".format(a, b) ) # specify the position of arguments

The value of a is 20 and b is 10

In [48]:
name = "Mohit"
greetings = "Good Morning"

print("Hello {n}, {g}".format(n=name, g=greetings))

Hello Mohit, Good Morning

# Operators and Expressions

<img src="./images/expression.jpg">

 - **Arithmetic Operators** 
     `+ , - , * , / , // , **, %`

 - **Comparison Operator**
     `> , < , >= , <= , == , !=`
     
 - **Logical Operator** 
     `and , or , not `
     
 - **Bitwise Operator**
     `& , | , ^  `
 
 - **Assignment Operator**
     `= , +=, -=, *=, /=  `
 
 - **Special Operators**
     `in, is`

## Arithmetic

![arithmatic](./images/arithmatic.png)

In [91]:
no1 = 12
no2 = 3

In [92]:
add = no1 + no2
sub = no1 - no2
mul = no1 * no2
div = no1 / no2
f_div = no1 // no2
exp = no1 ** no2
mod = no1 % no2

In [93]:
print("a+b =" , add)
print("a-b =", sub)
print("a*b =", mul)
print("a/b =", div)
print("a//b =", f_div)
print("a**b =", exp)
print("a%b =", mod)

a+b = 15
a-b = 9
a*b = 36
a/b = 4.0
a//b = 4
a**b = 1728
a%b = 0

## Comparison

![comparison](./images/comparison.svg)

In [94]:
print("a>b :" , no1>no2)

print("a<b :", no1<no2)

print("a==b :", no1==no2)

print("a!=b :", no1!=no2)

a>b : True
a<b : False
a==b : False
a!=b : True

## Logical

`and`  : return True when both the conditions are True, otherwise false

`or`   : return True even when one of the condition is True. False if both the conditions are False

`not`  : return Negation

In [95]:
print( (10>5) and (10 < 6) )

False

In [96]:
print( (10>5) or (10 <3))

True

In [97]:
print( not False )

True

## Bitwise

In [98]:
bin(10)

'0b1010'

In [99]:
bin(4)

'0b100'

In [100]:
# bitwise & of 10 with 4
print( 10 & 4)

0

In [101]:
# bitwise | of 10 with 4
print(10 | 4)

14

## Assignment Operators

In [102]:
# assigning value 5 to variable 'a'
a = 5

In [103]:
a = a + 1

In [104]:
print(a)

6

In [105]:
a += 1

In [106]:
print(a)

7

In [107]:
a *= 2

In [108]:
print(a)

14

**Multiple Assignment**

In [109]:
a,b,c = "ML", 34, 0.3

In [110]:
print(a, b, c)

ML 34 0.3

In [111]:
a = b = c = 35

In [112]:
print(a, b, c)

35 35 35

## Special Operators

<br>

**Membership Operator**
    - in
    
**Identity operator**
    - is
    - is not

In [113]:
"Good" in "Good Morning"

True

In [114]:
n1 = 1000
n2 = 1000

In [115]:
n1 == n2

True

In [116]:
n1 is n2

False

# Control Flow : Conditional Statements
`if, else, elif`


    if (test expression):
        statements
    else:
        statements
            
![if else](./images/ifelse.jpg)

In [117]:
age = 14


if (age >= 18):
    print("You're eligible to Vote.")
else:
    print("Grow Up First.")

print("I'll always run")

Grow Up First.
I'll always run

<img src="./images/if_else_flowchart.jpg" width=300>

### The Indentation

In [118]:
age = 17

if (age >= 18):
    print("You can vote.")
else:
    print("Go Home Kid..")
    
print("I'll always run")

Go Home Kid..
I'll always run

**elif**

In [119]:
num = 3

if num > 0:
    print("Positive number")
elif num == 0:
    print("ZERO")
else:
    print("Negative Number")

Positive number

### Nested If else
We can have a `if...elif...else` statement inside another `if...elif...else` statement. This is called nesting.

In [120]:
num = -2.3

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative Number")

Negative Number

### Python program to find the largest element among three Numbers

In [121]:
num1 = 10
num2 = 50
num3 = 15

if (num1 >= num2) and (num1 >= num3):           #logical operator   and
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3
print("Largest element among three numbers is: {}".format(largest))

Largest element among three numbers is: 50

# Control Flow : Iterations/Loops

- `while loop`
- `for loop`
    
    
    while (test-expression):
        body of while



![loops](https://media.giphy.com/media/ieaUdBJJC19uw/giphy-downsized.gif)

**Q- Print all even numbers from 1 to 20**

In [122]:
#### BAD WAY!!!

print(2)
print(4)
print(6)
print(8)
print(10)
print(12)
print(14)
print(16)
print(18)
print(20)

2
4
6
8
10
12
14
16
18
20

In [123]:
i = 1

while (i <=20):
    if(i%2 == 0):
        print(i, end=", ")
        
    i = i+1

2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

<img src="./images/whileloop.jpg">

In [124]:
# end=" " paramter is used to print everything in one line

for i in range(1, 21):
    if(i%2 == 0):
        print(i, end=" ")

2 4 6 8 10 12 14 16 18 20

In [125]:
for i in range(1, 21):
    if(i%2 == 0):
        print(i, end=" ")
else:
    print()
    print("No elements left")

2 4 6 8 10 12 14 16 18 20
No elements left

In [126]:
# range(start, end, step)

for i in range(2, 21, 2):
    print(i, end= " ")

2 4 6 8 10 12 14 16 18 20

In [127]:
## Multiples of a Number

n = 9

for i in range(1, 11):
    print(n, "x", i, "=", i*n)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [128]:
n = 9

for i in range(1, 11):
    print(n, "x", i, "=", i*n)
else:
    print("All done")

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
All done

In [129]:
#### Pattern Printing
n = 5

# *
# **
# ***
# ****
# *****

In [130]:
for i in range(1, n+1):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

In [131]:
"hello"*3

'hellohellohello'

In [132]:
for i in range(1, n+1):
    print("*"*i)

*
**
***
****
*****

### Break, Continue & Pass
 - break and continue can be used to alter the normal flow of a loop

`break` : used to exit all coming iterations in a loop

`continue`  : it just skips the current iteration and moves to the next iteration.

`pass` : If you wants to keep a block as empty just write `pass`

<img src="./images/break_continue.jpg" width="500">

In [133]:
for i in range(1, 10):
    if (i==5):
        break
    print(i)
else:
    print("No elements left")

1
2
3
4

In [134]:
# 5 is skipped
for i in range(1, 10):
    if (i==4):
        continue
    print(i)
else:
    print("No elements left")

1
2
3
5
6
7
8
9
No elements left

In [135]:
if(5>3):
    pass